.wildlogin
{
    background: url("./l2.jpg");
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    left: 0;
    top: 0;
   
}
.form06
{
    position: absolute;
    width: 500px;
    height: 550px;
    background-color: white;
    margin-top: 160px;
    margin-left: 550px;
    letter-spacing: normal;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.705);
}
.form06 h1
{
    font-family: sans-serif;
    text-shadow: 60px;
    font-weight: bold;
    color: rgb(136, 136, 240);
    
}
.form06 input
{
    width: 260px;
    height: 35px;
    color:black;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
    padding-left: 65px;
    display: inline-block;
}
.form06 ::placeholder
{
   text-align: left;
   color: black;
   font-size: medium;
   padding-left: 0px;
   font-weight: 100;
}
.form06 button
{
    width: 340px;
    margin-top: 40px;
    margin-left: 10px;
    height: 38px;
    font-size: 20px;
    background-color: rgb(136, 136, 240);
    border-color: white;
    border-radius: 25px;
    color: white;
    
    cursor: pointer;
}
.email .email_icon
{
    position: absolute;
    margin-top: -39px;
    margin-left: -150px;
     width: 40px;
     height: 37px;
}
.password .password_icon
{
    position: absolute;
    margin-top: -36px;
    margin-left: -145px;
     width: 30px;
     height: 27px;
}
.forgot06
{
   
    cursor: pointer;
    margin-top: 30px;
   margin-left: 200px;
}
.forgot06 :hover
{
    color: rgb(136, 136, 240);
}
.register066
{
    position: absolute;
    cursor: pointer;
    margin-top: 550px;
    margin-left: 620px;
}
.register066 p{
    font-size: 18px;
    margin-bottom: 30px;
    margin-left: 18px;
    
}
.register066 .reg 
{
    color: rgb(136, 136, 240);
    margin-top: -20px;
}

